.title {
    margin: 20px 10px 30px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.example-card {
    max-width: 400px;
    margin: 0 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-container {
    & .country {
        margin-right: 36px;
    }

    & .flag {
        margin-right: 12px;
    }
}

.img-flag {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}
