.container {
    padding: 20px 10px;
}

.card {
    padding: 10px 0;
}

.example-button-row {
    margin-bottom: 20px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    align-items: center;
}

.mat-expansion-panel-header-description {
    margin-right: 0;
    justify-content: flex-end;
}
